<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.scrungus.vault-sidekick</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{NODE_BIN}}</string>
        <string>{{INSTALL_DIR}}/dist/cli.js</string>
        <string>insights</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{INSTALL_DIR}}</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>{{VAULT_PATH}}/.vault-sidekick/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{VAULT_PATH}}/.vault-sidekick/launchd.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{NODE_DIR}}:/usr/local/bin:/usr/bin:/bin</string>
    </dict>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
